:root {
  --borderWidth: 6rem;
  --heroSectionImage: 413px;
  /* COLORS */
  --lightModeSurfaceBorder: #EA6826;
  --navBarTextColor: #fff;
  --backgroundColorForTexts: #fff;
  --darkModeSurfaceBorderColor: #292929;
  --darkModeSurfaceColor: #000;
  --textColorLightMode: #000;
  --textColorDarkMode: #eee;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

h1,h2,h3 {
  word-wrap: break-word;
}

@font-face {
  font-family: Primary;
  src: url(../fonts/Primary.otf);
  font-weight: black;
}

@font-face {
  font-family: signature;
  src: url(../fonts/Signature.otf);
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.signature {
  font-family: signature;
}

#nav img {
  margin-top: 40px;
}

#nav, #footer {
  z-index: 1;
  position: fixed;
  display: flex;
  width: 100dvw;
  height: calc(2 * var(--borderWidth));
  left: 0px;
  padding-left: var(--borderWidth);
  padding-right: var(--borderWidth);
}

@media only screen and (max-width: 576px) {
  #nav, #footer {
    height: calc(3 * var(--borderWidth));
  }
}

#nav {
  top: 0px;
  padding-top: 3rem;
  justify-content: space-between;
  z-index: 2;
}
#nav .nav-separator {
  padding-top: 8px;
  color: var(--navBarTextColor);
}

#footer {
  justify-content: right;
  padding-right: var(--borderWidth);
  bottom: 0;
}
#footer img {
  width: 24px;
}

#nav > a, #footer a {
  padding: 2rem 4rem;
  text-transform: capitalize;
  color: var(--navBarTextColor);
  display: inline-block;
  font-family: Arvo;
}

/* All Sections */
section {
  min-height: calc(100vh -  4 * var(--borderWidth));
  scroll-snap-align: start;
}
.icon-scroll-wrapper {
  cursor: pointer;
}

.left-border {
  left: 0px;
  z-index: 2;
}
.right-border {
  right: 0px;
  z-index: 2;
}